

@{
    ViewData["Title"] = "Home";
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Hello and welcome to EduManage!</h1>
    <p>EduManage is your ideal solution to efficiently manage student records in your educational institution. With our software, you can keep all student data organized and accessible in one place, making it easy to manage academic and administrative information on a daily basis.</p>

    <p>Here at EduManage, we understand the importance of having a reliable and easy-to-use system that allows administrators, teachers, and support staff to focus on what really matters: student education. Our software offers an intuitive interface and powerful tools to help you manage registration, grading, attendance, and more.</p>

    <p>Thank you for choosing EduManage! We're proud to be your partner in educational administration and we're here to help you succeed.</p>
</body>
</html>
